# TCC - Genetic Algorithm to control Waves in Games

### Authors:
 - Daniel Hotta
 - Rafael Gonçalves Pereira Silva
 - Ricardo Akira Tanaka

In [4]:
import os
import re
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import matplotlib.image as mpimg
import matplotlib.gridspec as mpgs
from matplotlib.backends.backend_pdf import PdfPages
from tabulate import tabulate

## Simple description

This notebook uses the results of the experiments we made with our Genetic Algorithm to conclude the overall perfomance agrandomnst a Uniform Enemy Generator and "Naive Strategies" (Like All Enemies with the same color or One of Each color).
For uniform enemies, 10 waves were enough data, otherwise (random and AI) 30 waves were collected.

- The libs you can find in two repositories: [SpaceShip](https://github.com/RGPRafael/godot) and [Tower Defense](https://github.com/raktanaka/tccTD)

- The full dataset can be found [here](https://github.com/raktanaka/tcc-results).

In [5]:
def GetFileList():
    td_files = {}
    ss_files = {}

    for subdir, dirs, files in os.walk('.'):
        for file in files:
            if subdir[2:] == 'tccTD' and file.endswith('.txt'):
                if not re.search('AI', file) and not re.search('Random', file):
                    filepath = subdir + os.sep + file
                    td_files[file[:-4]] = filepath
                    #td_files.append(filepath)
            elif subdir[2:] == 'tccSS' and file.endswith('.txt'):
                if not re.search('AI', file) and not re.search('Random', file):
                    filepath = subdir + os.sep + file
                    #ss_files.append(filepath)
                    ss_files[file[:-4]] = filepath
            else:
                pass
    return(td_files, ss_files)

In [12]:
def GetFileData(filepath):
  #print(filepath)
  df = pd.read_csv(filepath, header=None, delimiter=';')

  if df.shape[0] < 899:
    return(df.iloc[:300])
  else:
    return(df.iloc[:900])

In [7]:
def CalcStats(series):

    avg = series.mean()
    std = series.std()

    return(avg, std)

In [8]:
def CalcStats(path):

    #l = []
    #df_head = ['test case', 'average damage', 'standard deviation']
    df = GetFileData(path)
    df.iloc[:, -1] = pd.to_numeric(df.iloc[:, -1], downcast="float")
    avg = df.iloc[:, -1].mean()
    std = df.iloc[:, -1].std()
    #l.append(CalcStats(df.iloc[:, -1], key))

    return(avg, std)

In [9]:
def GetData(dic):

    test_case = []
    avg_dmg = []
    std_dev = []

    #df_head = ['test case', 'average damage', 'standard deviation']
    for key in dic:
        avg, std = CalcStats(dic[key])
        test_case.append(key)
        avg_dmg.append(avg)
        std_dev.append(std)
        #res.append(CalcStats(key, dic[key]))
    
    return(test_case, avg_dmg, std_dev)

In [19]:
td_files, ss_files = GetFileList()

df_header = ['test case', 'average damage', 'standard deviation']

l1, l2, l3 = GetData(td_files)
#df = pd.DataFrame(l, columns=df_header)
td_df = pd.DataFrame([l1, l2, l3]).transpose()
td_df.columns = df_header
td_df = td_df.sort_values(by=['test case'])

l1, l2, l3 = GetData(ss_files)
#df = pd.DataFrame(l, columns=df_header)
ss_df = pd.DataFrame([l1, l2, l3]).transpose()
ss_df.columns = df_header
ss_df = ss_df.sort_values(by=['test case'])

In [24]:
display(td_df.iloc[0:7, :].sort_values(by=['average damage'], ascending=False))
display(td_df.iloc[7:14, :].sort_values(by=['average damage'], ascending=False))
display(td_df.iloc[14:21, :].sort_values(by=['average damage'], ascending=False))
display(td_df.iloc[21:28, :].sort_values(by=['average damage'], ascending=False))

              test case average damage standard deviation
2   AllGreen - AllGreen          450.0                0.0
7    AllGreen - OneEach     122.349998           4.523536
4  AllGreen - AllPurple      90.055557           0.912871
5     AllGreen - AllRed      89.900002           1.222695
1    AllGreen - AllBlue      60.683334          16.769629
6  AllGreen - AllYellow      40.066666           0.574447
3  AllGreen - AllOrange      39.933334           0.574447

             test case average damage standard deviation
9    AllRed - AllGreen          360.0                0.0
8     AllRed - AllBlue     355.850006          28.578838
12     AllRed - AllRed          180.0                0.0
14    AllRed - OneEach     167.816666           2.484007
11  AllRed - AllPurple     127.599998           8.543025
13  AllRed - AllYellow      50.583332           1.607795
10  AllRed - AllOrange           50.0                0.0

               test case average damage standard deviation
15   GreenRed - AllGreen     400.200012          13.914214
0     GreenRed - AllBlue     220.183334           3.175426
18     GreenRed - AllRed          148.5           4.507519
20    GreenRed - OneEach     148.449997           4.573535
17  GreenRed - AllPurple          120.0                0.0
19  GreenRed - AllYellow           50.0                0.0
16  GreenRed - AllOrange           44.5           1.502506

               test case average damage standard deviation
22   RedGreen - AllGreen     449.850006           2.598076
21    RedGreen - AllBlue     329.816681           3.175426
25     RedGreen - AllRed     149.899994           1.732051
27    RedGreen - OneEach     135.050003           0.866025
24  RedGreen - AllPurple          120.0                0.0
26  RedGreen - AllYellow           50.0                0.0
23  RedGreen - AllOrange      49.450001           1.567063

In [17]:
display(ss_df.iloc[0:7, :].sort_values(by=['average damage'], ascending=False))
display(ss_df.iloc[7:14, :].sort_values(by=['average damage'], ascending=False))
display(ss_df.iloc[14:21, :].sort_values(by=['average damage'], ascending=False))
display(ss_df.iloc[21:28, :].sort_values(by=['average damage'], ascending=False))

,test case,average damage,standard deviation
2,IA_MOVING_ SHOOTING _YELLOW_SHOOT - All_inimigo3,213.199997,52.429134
1,IA_MOVING_ SHOOTING _YELLOW_SHOOT - All_inimigo2,184.611115,41.980503
0,IA_MOVING_ SHOOTING _YELLOW_SHOOT - All_inimigo1,130.100006,48.151493
6,IA_MOVING_ SHOOTING _YELLOW_SHOOT - One_EACH,100.849998,43.750416
3,IA_MOVING_ SHOOTING _YELLOW_SHOOT - All_inimigo4,80.688889,15.699234
5,IA_MOVING_ SHOOTING _YELLOW_SHOOT - All_inimigos,67.688889,15.457174
4,IA_MOVING_ SHOOTING _YELLOW_SHOOT - All_inimigo5,39.233334,7.705003

,test case,average damage,standard deviation
8,IA_MOVING_SHOOTING_ RED_SHOOT - All_inimigo3,169.866669,63.543701
26,IA_MOVING_SHOOTING_ RED_SHOOT - All_inimigo2,169.666672,49.770329
12,IA_MOVING_SHOOTING_ RED_SHOOT - One_EACH,96.988892,39.7243
9,IA_MOVING_SHOOTING_ RED_SHOOT - All_inimigo4,76.288887,18.047178
11,IA_MOVING_SHOOTING_ RED_SHOOT - All_inimigos,65.888885,18.230659
10,IA_MOVING_SHOOTING_ RED_SHOOT - All_inimigo5,39.255554,7.397894
7,IA_MOVING_SHOOTING_ RED_SHOOT - All_inimigo1,24.6,28.596306

                             test case average damage standard deviation
15  IA_STILL _RED_SHOOT - All_inimigo3     241.600006          56.008263
14  IA_STILL _RED_SHOOT - All_inimigo2     240.944443          56.093609
18      IA_STILL _RED_SHOOT - One_EACH     125.994446          38.026028
16  IA_STILL _RED_SHOOT - All_inimigo4          106.0          21.809162
27  IA_STILL _RED_SHOOT - All_inimigos     102.444443          20.039511
17  IA_STILL _RED_SHOOT - All_inimigo5      62.566666          17.735262
13  IA_STILL _RED_SHOOT - All_inimigo1           27.6           29.54166

                               test case average damage standard deviation
21  IA_STILL_YELLOW_SHOOT - All_inimigo3     314.933319          42.461735
20  IA_STILL_YELLOW_SHOOT - All_inimigo2     299.777771           3.327767
25      IA_STILL_YELLOW_SHOOT - One_EACH         182.75          27.471861
19  IA_STILL_YELLOW_SHOOT - All_inimigo1          181.5          41.673489
22  IA_STILL_YELLOW_SHOOT - All_inimigo4          120.0                0.0
24  IA_STILL_YELLOW_SHOOT - All_inimigos          120.0                0.0
23  IA_STILL_YELLOW_SHOOT - All_inimigo5           60.0                0.0

In [22]:
display(td_df.iloc[0:8, :].sort_values(by=['average damage'], ascending=False))

              test case average damage standard deviation
2   AllGreen - AllGreen          450.0                0.0
8      AllRed - AllBlue     355.850006          28.578838
7    AllGreen - OneEach     122.349998           4.523536
4  AllGreen - AllPurple      90.055557           0.912871
5     AllGreen - AllRed      89.900002           1.222695
1    AllGreen - AllBlue      60.683334          16.769629
6  AllGreen - AllYellow      40.066666           0.574447
3  AllGreen - AllOrange      39.933334           0.574447

In [ ]:
\begin{table}[]
\begin{tabular}{llll}
Torres             & Inimigos & Dano Médio & Desvio Padrão \\
Vermelhas + Verdes & green    & 449.85     & 2.60          \\
Vermelhas + Verdes & blue     & 329.82     & 3.18         \\
Vermelhas + Verdes & red      & 149.90     & 1.73          \\
Vermelhas + Verdes & oneeach  & 135.05     & 0.87          \\
Vermelhas + Verdes & purple   & 120.00     & 0.0           \\
Vermelhas + Verdes & yellow   & 50.00      & 0.0           \\
Vermelhas + Verdes & orange   & 49.45      & 1.57          
\end{tabular}
\label{tab:redgreen}
\end{table}